body{
    background-color: #009c92;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

#introText{
    color: #000000;
}

.highlight{
    color: #00ff08;
    font-weight: bold;
}

#introContainer{
    width: 470px;
    float: left;
    margin: 40px 0px 0px 60px;

}

#introPicture{
    float: left;
    height: 300px;
}

.reset{
    clear: both;
}

#hobbyContainer{
    width: 360px;
    height: 150px;
    float: left;
    margin: 25px 0px 0px 0px;
}

#hobbyContainer h2{
    margin: 0px;
}

#hobbyContainer img{
    margin: 40px 0px 0px 0px;
}

#psvFoto{
    float: left;
    margin: 15px 0px 0px -70px;
}


.socialThumb{
    float: left;
   margin: 25px 7px 0px 7px;

}

#mainContainer{
    width: 1000px;
    margin: 0px auto;
    padding: 10px 0px 0px 0px;


    

}

#navigation{
    height: 30px;
    margin: 0px 0px 10px 0px;
}


#navigation a{
  padding: 10px;
  background-color: #6bf276;
  color: #000000;
  text-decoration: none;
}


#navigation a:hover{
    background-color: #05991e;
    color: #000000;
    text-decoration: underline;
  }