body{
    background-color: #ffffff;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    margin: 0px;
}

td {
    border: 1px solid #000000;
}

/*Classes*/

.highlight{
    color: #00ff08;
    font-weight: bold;
}


.reset{
    clear: both;
}


.socialThumb{
    float: left;
   margin: 25px 7px 0px 7px;

}

*/


 /*ID's*/
#introText{
    color: #000000;
}



#introContainer{
    width: 470px;
    float: left;
    margin: 10px 0px 0px 60px;

}

#introPicture{
    float: left;
    height: 300px;
}


#hobbyContainer{
    width: 360px;
    height: 150px;
    float: left;
    margin: 25px 0px 0px 0px;
}

#hobbyContainer h2{
    margin: 0px;
}

#hobbyContainer img{
    margin: 40px 0px 0px 0px;
}

#psvFoto{
    float: left;
    margin: 15px 0px 0px -70px;
}

#mainContainer{
    width: 1000px;
    margin: 0px auto;
    padding: 10px 0px 0px 0px;
    background-color: #FFFFFF;
}


#navigation{
    height: 30px;
    margin: 0px 0px 10px 0px;
}


#navigation a{
  padding: 10px;
  background-color: #6bf276;
  color: #000000;
  text-decoration: none;
  border-radius: 5px;
}


#navigation a:hover{
    background-color: #05991e;
    color: #000000;
    text-decoration: underline;
    border-radius: 5px;
  }


  #paddingTest {
    width: 260px;
    height: 260px;
    background-color: #9fea9f;
    margin: 60px 0px 30px 0px;
    /*padding adds to width and height*/
    padding: 20px;
    border-radius: 4px;

}
 

 
  